{%load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Booked flights</title>
    <link rel="stylesheet" href="{%static 'css/style.css'%}" />
  </head>

  <body>
    <div
      style="
        width: 1920px;
        height: 1460px;
        position: relative;
        background: #3a3a3a;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      "
    >
      <img
        style="
          width: 1920px;
          height: 1460px;
          left: 0px;
          top: 0px;
          position: absolute;
        "
        src="{%static 'images/back.png'%}"
      />
      <div
        style="
          width: 1856px;
          height: 117px;
          left: 32px;
          top: 0px;
          position: absolute;
        "
      ></div>
      <img
        style="
          width: 525px;
          height: 257px;
          left: 694px;
          top: 162px;
          position: absolute;
        "
        src="{%static 'images/EliteTravel.png'%}"
      />
      <div
        style="
          width: 1854px;
          height: 1004px;
          left: 30px;
          top: 428px;
          position: absolute;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 50px;
          border: 3px black solid;
        "
      ></div>
      <div
        style="
          width: 1530px;
          height: 95px;
          left: 195px;
          top: 59px;
          position: absolute;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 50px;
          border: 3px black solid;
        "
      ></div>
      <div
        style="
          width: 568px;
          height: 455px;
          left: 48px;
          top: 677px;
          position: absolute;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 50px;
          border: 3px black solid;
        "
      ></div>
      <div
        style="
          width: 568px;
          height: 455px;
          left: 676px;
          top: 677px;
          position: absolute;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 50px;
          border: 3px black solid;
        "
      ></div>
      <div
        id="order_container"
        style="
          width: 568px;
          height: 455px;
          left: 1298px;
          top: 677px;
          position: absolute;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 50px;
          border: 3px black solid;
        "
      ></div>

      {% if first_flight %}
      <div
        style="
          width: 536px;
          height: 530px;
          left: 61px;
          top: 578px;
          position: absolute;
        "
      >
        <div
          style="
            width: 290px;
            height: 85px;
            left: 111px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        ></div>
        <img
          id="image"
          style="
            width: 176px;
            height: 158px;
            left: 12px;
            top: 198px;
            position: absolute;
            border-radius: 50px;
            border: 3px black solid;
          "
          src="{%static 'images/airline1.png'%}"
        />
        <div
          id="email"
          style="
            width: 520px;
            height: 63px;
            left: 16px;
            top: 120px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ first_flight.email }}
        </div>
        <div
          id="plane_name"
          style="
            width: 239px;
            height: 62px;
            left: 256px;
            top: 215px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ first_flight.get_plane_name_display }}
        </div>
        <div
          id="airport_name"
          style="
            width: 239px;
            height: 62px;
            left: 256px;
            top: 307px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ first_flight.get_airport_display }}
        </div>
        <div
          id="hours"
          style="
            width: 239px;
            height: 62px;
            left: 0px;
            top: 381px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ first_flight.booking_time }}
        </div>
        <div
          id="price"
          style="
            width: 188px;
            height: 62px;
            left: 0px;
            top: 468px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          ${{ first_flight.total_price }}
        </div>
        {% else %}
        <p>нет записи</p>
        {% endif %}
      </div>

      {% if second_flight %}
      <div
        style="
          width: 536px;
          height: 530px;
          left: 689px;
          top: 578px;
          position: absolute;
        "
      >
        <div
          style="
            width: 290px;
            height: 85px;
            left: 111px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        ></div>
        <img
          id="image2"
          style="
            width: 176px;
            height: 158px;
            left: 12px;
            top: 198px;
            position: absolute;
            border-radius: 50px;
            border: 3px black solid;
          "
          src="{%static 'images/airline2.png'%}"
        />
        <div
          id="email2"
          style="
            width: 520px;
            height: 63px;
            left: 16px;
            top: 120px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ second_flight.email }}
        </div>
        <div
          id="plane_name2"
          style="
            width: 239px;
            height: 62px;
            left: 256px;
            top: 215px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ second_flight.get_plane_name_display }}
        </div>
        <div
          id="airport_name2"
          style="
            width: 239px;
            height: 62px;
            left: 256px;
            top: 307px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ second_flight.get_airport_display }}
        </div>
        <div
          id="hours2"
          style="
            width: 239px;
            height: 62px;
            left: 0px;
            top: 381px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ second_flight.booking_time }}
        </div>
        <div
          id="price2"
          style="
            width: 188px;
            height: 62px;
            left: 0px;
            top: 468px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{ second_flight.total_price }}
        </div>
        {% else %}
        <p>нет записи</p>
        {% endif %}
      </div>

      {%if third_flight%}
      <div
        style="
          width: 536px;
          height: 530px;
          left: 1317px;
          top: 578px;
          position: absolute;
        "
      >
        <div
          style="
            width: 290px;
            height: 85px;
            left: 111px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        ></div>
        <img
          id="image3"
          style="
            width: 176px;
            height: 158px;
            left: 12px;
            top: 198px;
            position: absolute;
            border-radius: 50px;
            border: 3px black solid;
          "
          src="{%static 'images/heavy1.png'%}"
        />
        <div
          id="email3"
          style="
            width: 520px;
            height: 63px;
            left: 16px;
            top: 120px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{third_flight.email}}
        </div>
        <div
          id="plane_name3"
          style="
            width: 239px;
            height: 62px;
            left: 256px;
            top: 215px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{third_flight.get_plane_name_display}}
        </div>
        <div
          id="airport_name3"
          style="
            width: 239px;
            height: 62px;
            left: 256px;
            top: 307px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{third_flight.get_airport_display}}
        </div>
        <div
          id="hours3"
          style="
            width: 239px;
            height: 62px;
            left: 0px;
            top: 381px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{third_flight.booking_time}}
        </div>
        <div
          id="price3"
          style="
            width: 188px;
            height: 62px;
            left: 0px;
            top: 468px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "
        >
          {{third_flight.total_price}}
        </div>
        {% else %}
        <p>нет записи</p>
        {% endif %}
      </div>
      <a href="/Main/index.html">
        <div
          style="
            width: 172px;
            height: 82px;
            left: 376px;
            top: 80px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          "
        >
          Home
        </div>
      </a>

      <a href="/Pages/Jets/jets.html">
        <div
          style="
            width: 172px;
            height: 82px;
            left: 901px;
            top: 80px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          "
        >
          Jets
        </div>
      </a>

      <a href="/Pages/About us/aboutUs.html">
        <div
          style="
            width: 254px;
            height: 82px;
            left: 597px;
            top: 80px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          "
        >
          About us
        </div>
      </a>

      <div
        style="
          left: 616px;
          top: 464px;
          position: absolute;
          text-align: center;
          color: #d2983a;
          font-size: 100px;
          font-family: Parisienne;
          font-weight: 400;
          line-height: 100px;
          word-wrap: break-word;
        "
      >
        Your booked flight
      </div>
      <img
        style="
          width: 265.48px;
          height: 309.77px;
          left: -5px;
          top: -45px;
          position: absolute;
          transform: rotate(-10deg);
          transform-origin: 0 0;
        "
        src="/Images/wings1.png"
      />
      <img
        style="
          width: 265.48px;
          height: 309.77px;
          left: 1670px;
          top: -90px;
          position: absolute;
          transform: rotate(370deg);
          transform-origin: 0 0;
        "
        src="/Images/wings2.png"
      />
      <div
        style="
          width: 470px;
          height: 82px;
          left: 1073px;
          top: 80px;
          position: absolute;
        "
      >
        <div
          style="
            width: 470px;
            height: 82px;
            left: 0px;
            top: 0px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          "
        >
          Booked flights
        </div>
        <div
          style="
            width: 397px;
            height: 0px;
            left: 36px;
            top: 65px;
            position: absolute;
            border: 2px #d6973a solid;
          "
        ></div>
      </div>
    </div>
  </body>
</html>
