{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Cessna C525 Citation</title>
  <link rel="stylesheet" href="{%static 'css/style.css'%}" />
</head>

<body>
  <div style="
        width: 1920px;
        height: 1460px;
        position: relative;
        background: #3a3a3a;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      ">
    <img style="
          width: 1920px;
          height: 1460px;
          left: 0px;
          top: 0px;
          position: absolute;
        " src="{% static '/Images/back.png'%}" />
    <div style="
          width: 1856px;
          height: 117px;
          left: 32px;
          top: 0px;
          position: absolute;
        "></div>
    <img style="
          width: 525px;
          height: 257px;
          left: 694px;
          top: 162px;
          position: absolute;
        " src="{% static 'Images/EliteTravel.png'%}" />
    <div style="
          width: 1854px;
          height: 1004px;
          left: 30px;
          top: 428px;
          position: absolute;
          background: rgba(255, 255, 255, 0.2);
          border-radius: 50px;
          border: 3px black solid;
        "></div>
    <div style="
          width: 1530px;
          height: 95px;
          left: 195px;
          top: 59px;
          position: absolute;
          background: rgba(255, 255, 255, 0.4);
          border-radius: 50px;
          border: 3px black solid;
        "></div>
    <a href="{% url 'home'%}">
      <div style="
            width: 172px;
            height: 82px;
            left: 376px;
            top: 80px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          ">
        Home
      </div>
    </a>

    <div style="
          width: 178px;
          height: 82px;
          left: 898px;
          top: 80px;
          position: absolute;
        ">
      <a href="{% url 'jets'%}">
        <div style="
              width: 172px;
              height: 82px;
              left: 3px;
              top: 0px;
              position: absolute;
              text-align: center;
              color: #d2983a;
              font-size: 70px;
              font-family: Parisienne;
              font-weight: 400;
              line-height: 70px;
              word-wrap: break-word;
            ">
          Jets
        </div>
        <div style="
              width: 178.01px;
              height: 0px;
              left: 0px;
              top: 60px;
              position: absolute;
              transform: rotate(-0.64deg);
              transform-origin: 0 0;
              border: 3px #d2983a solid;
            "></div>
      </a>
    </div>
    <a href="{% url 'aboutUs'%}">
      <div style="
            width: 254px;
            height: 82px;
            left: 597px;
            top: 80px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          ">
        About us
      </div>
    </a>

    <a href="{% url 'booked'%}">
      <div style="
            width: 470px;
            height: 82px;
            left: 1073px;
            top: 80px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 70px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 70px;
            word-wrap: break-word;
          ">
        Booked flights
      </div>
    </a>

    <img style="
          width: 265.48px;
          height: 309.77px;
          left: -5px;
          top: -45px;
          position: absolute;
          transform: rotate(-10deg);
          transform-origin: 0 0;
        " src="{% static 'Images/wings1.png' %}" />

    <img style="
          width: 265.48px;
          height: 309.77px;
          left: 1670px;
          top: -90px;
          position: absolute;
          transform: rotate(370deg);
          transform-origin: 0 0;
        " src="{% static 'Images/wings2.png' %}" />
    <div style="
          width: 1741px;
          height: 938px;
          left: 62px;
          top: 469px;
          position: absolute;
        ">
      <img style="
            width: 778px;
            height: 501px;
            left: 27px;
            top: 118px;
            position: absolute;
            border-radius: 50px;
            border: 3px black solid;
          " src="{% static 'Images/lcabin1.png'%}" />
      <div style="
            width: 251px;
            height: 91px;
            left: 275px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "></div>
      <div style="
            width: 778px;
            height: 302px;
            left: 27px;
            top: 636px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "></div>
      <div style="
            width: 847px;
            height: 913px;
            left: 894px;
            top: 0px;
            position: absolute;
            background: rgba(255, 255, 255, 0.4);
            border-radius: 50px;
            border: 3px black solid;
          "></div>
      <div style="
            left: 330px;
            top: 20px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 65px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 65px;
            word-wrap: break-word;
          ">
        Cabin
      </div>
      <a href="{% url 'light'%}">
        <div style="
              width: 251px;
              height: 91px;
              left: 0px;
              top: 0px;
              position: absolute;
            ">
          <div style="
                width: 251px;
                height: 91px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: rgba(255, 255, 255, 0.4);
                border-radius: 50px;
                border: 3px black solid;
              "></div>
          <div style="
                left: 50px;
                top: 20px;
                position: absolute;
                text-align: center;
                color: #d2983a;
                font-size: 65px;
                font-family: Parisienne;
                font-weight: 400;
                line-height: 65px;
                word-wrap: break-word;
              ">
            Back
          </div>
        </div>
      </a>

      <div style="
            width: 847px;
            height: 0px;
            left: 894px;
            top: 400px;
            position: absolute;
            border: 3px black solid;
          "></div>
      <div style="
            width: 187px;
            height: 58px;
            left: 79px;
            top: 648px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 55px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 55px;
            word-wrap: break-word;
          ">
        Seats: 7
      </div>
      <div style="
            width: 336px;
            height: 63px;
            left: 54px;
            top: 706px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 55px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 55px;
            word-wrap: break-word;
          ">
        Speed: 470kts
      </div>
      <div style="
            left: 39px;
            top: 780px;
            position: absolute;
            text-align: center;
            color: #d2983a;
            font-size: 55px;
            font-family: Parisienne;
            font-weight: 400;
            line-height: 55px;
            word-wrap: break-word;
          ">
        Range: 1800 nm
      </div>
      <div style="
            width: 823px;
            height: 455px;
            left: 906px;
            top: 20px;
            position: absolute;
            text-align: center;
          ">
        <span style="
              color: #d2983a;
              font-size: 60px;
              font-family: Parisienne;
              font-weight: 400;
              line-height: 60px;
              word-wrap: break-word;
            ">Overview Summary<br /></span><span style="
              color: #d2983a;
              font-size: 50px;
              font-family: Parisienne;
              font-weight: 400;
              line-height: 50px;
              word-wrap: break-word;
            ">Launched in 2009 by Brazilian manufacturer Embraer as a larger
          version of its successful Phenom 100, the Phenom 300 has since
          become a firm favourite in the private jet charter market.</span>
      </div>
      <div style="
            width: 823px;
            height: 433px;
            left: 918px;
            top: 458px;
            position: absolute;
            text-align: center;
          ">
        <span style="
              color: #d2983a;
              font-size: 60px;
              font-family: Parisienne;
              font-weight: 400;
              line-height: 60px;
              word-wrap: break-word;
            ">Comfort & Size<br /></span><span style="
              color: #d2983a;
              font-size: 50px;
              font-family: Parisienne;
              font-weight: 400;
              line-height: 50px;
              word-wrap: break-word;
            ">The Phenom 300/300E features a BMW-designed interior, which is both
          visually and ergonomically appealing. It also features the only
          seats of any aircraft in the light jet category that can be
          converted to lie-flat beds. The aircraft comfortably seats up to 7,
          with a refreshment area and aft lavatory.</span>
      </div>
      <a href="{% url 'booking'%}">
        <div style="
              width: 223px;
              height: 91px;
              left: 54px;
              top: 840px;
              position: absolute;
            ">
          <div style="
                width: 223px;
                height: 91px;
                left: 0px;
                top: 0px;
                position: absolute;
                background: black;
                border-radius: 50px;
                border: 3px black solid;
              "></div>
          <div style="
                width: 172px;
                height: 82px;
                left: 30px;
                top: 20px;
                position: absolute;
                text-align: center;
                color: #d2983a;
                font-size: 70px;
                font-family: Parisienne;
                font-weight: 400;
                line-height: 70px;
                word-wrap: break-word;
              ">
            Book
          </div>
        </div>
      </a>
    </div>
  </div>
  <a href="{%url 'account'%}">
    <div style="
                  width: 81px;
                  height: 74px;
                  left: 1567px;
                  top: 70px;
                  position: absolute;
                  background: rgba(255, 255, 255, 0.2);
                  color: #d2983a;
                  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                  border-radius: 9999px;
                  border: 3px #d2983a solid;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  font-size: 50px;
                  font-weight: bold;
                  font-family: Parisienne;
                ">
      {{ first_letter }}
    </div>
  </a>
</body>

</html>