@import url('https://fonts.googleapis.com/css2?family=Parisienne&display=swap');

.parisienne-regular {
    font-family: "Parisienne", cursive;
    font-weight: 400;
    font-style: normal;
}

* {
    margin: auto;
}